body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #feded1;
}
#formOrden {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;

}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
}

button[type="button"],
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #45a049;
}
.logo{
    height: 75px;
    display: block;
    margin: 0 auto;
}
h1{
    font-family: century;
}
h2{
    font-family: century;
}
label{
    font-family: century;
}